<% layout('layout/boilerplate')%>
<style>
  body{
    margin: 0;
    padding: 0;
    position: relative;
    /*background-color: grey;*/
  }
</style>
<!-- 
<div class="container d-flex justify-content-center align-items-center mb-4">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img src="https://images.unsplash.com/photo-1565578151233-45758846ae9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" class="card-img-top" alt="">
        <div class="card-body">
          <div class="card-title"><h5>Login</h5></div>
            <form action="/login" method="POST" class='validated-form' novalidate>
              <div class='mb-3'>
                <label for="username" class='form-label'>Username:</label>
                <input type="text" class='form-control' id="username" name="username" required autofocus>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class='mb-3'>Password:</label>
                <input type="password" class='form-control' id="password" name="password" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-success" type="button">Login</button>
              </div>
            </form>
        </div>
      </div>

    </div>
  </div>
</div>
-->
<div class="reg-background-container">
  <div class="formStyles col-lg-6 offset-lg-3 form-container content-container-pad">
    <h1>Login</h1>
    <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required autofocus>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-success logBtn"><span class="logBtnTxt fs-4">Login</span></button>
        </div>
    </form>
  </div>
  <div class="BGImgBtm"></div>
  <div class="BGImgTop"></div>
</div>
<div class="login-mobile-bg container-fluid">
  <img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626807568/YelpCamp/img-mountains-blue_x1zbfz.svg" alt="RV camper in a forest">
</div>
