<% layout('layout/boilerplate')%>
<style>
  body{
    margin: 0;
    padding: 0;
    position: relative;
    /*background-color: grey;*/
  }
</style>
<!-- 
<div class="container d-flex justify-content-center align-items-center mb-4">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img src="https://images.unsplash.com/photo-1565578151233-45758846ae9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" class="card-img-top" alt="">
        <div class="card-body">
          <div class="card-title"><h5>Register</h5></div>
          <form action="/register" method="POST" class='validated-form' novalidate>
            <div class='mb-3'>
              <label for="username" class='form-label'>Username:</label>
              <input type="text" class='form-control' id="username" name="username" required autofocus>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class='mb-3'>
              <label for="email" class='form-label'>Email:</label>
              <input type="email" class='form-control' id="email" name="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class='mb-3'>Password:</label>
              <input type="password" class='form-control' id="password" name="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success" type="button">Register</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
-->
<!-- OLD REGISTER FORM -->
<div class='reg-background-container'>
  <div class="formStyles col-lg-6 offset-lg-3 reg-form-container">
  <h1>Register</h1>
  <form action="/register" method="POST" class='validated-form' novalidate>
    <div class='mb-3'>
      <label for="username" class='form-label'>Username:</label>
      <input type="text" class='form-control' id="username" name="username" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class='mb-3'>
      <label for="email" class='form-label'>Email:</label>
      <input type="email" class='form-control' id="email" name="email" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class='mb-3'>Password:</label>
      <input type="password" class='form-control' id="password" name="password" required>
      <!--
      <div class="alert alert-warning" role="alert">
        A password recovery option has not been implemented yet. Please remember your password.
      </div>
      -->
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div>
      <input class="form-control" type="text" id="user-icon" name="image" style="display: none;" height="25px" value="">
    </div>
    <p>Choose an Icon:</p>
      <div class='row mb-3'>
        <div class='col-3 mx-auto'>
          <input type="radio" id="icon-1" name="user-icon" value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt1_mk6d21.svg'>
          <label for="icon-1"><img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt1_mk6d21.svg" alt="user icon option 1" width="75px" height="auto"></label>
        </div>
        <div class='col-3 mx-auto'>
          <input type="radio" id="icon-2" name="user-icon" value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt2_zbjyeq.svg'>
          <label for="icon-2"><img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt2_zbjyeq.svg" alt="user icon option 2" width="75px" height="auto"></label>
        </div>
        <div class='col-3 mx-auto'>
          <input type="radio" id="icon-3" name="user-icon" value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt3_f9toiq.svg'>
          <label for="icon-3"><img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt3_f9toiq.svg" alt="user icon option 3" width="75px" height="auto"></label>
        </div>
      </div>
      <div class='row mb-3'>
        <div class='col-3 mx-auto'>
          <input type="radio" id="icon-4" name="user-icon" value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt4_giaxud.svg'>
          <label for="icon-4"><img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt4_giaxud.svg" alt="user icon option 4" width="75px" height="auto"></label>
        </div>
        <div class='col-3 mx-auto'>
          <input type="radio" id="icon-5" name="user-icon" value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt5_ie6lkb.svg'>
          <label for="icon-5"><img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt5_ie6lkb.svg" alt="user icon option 5" width="75px" height="auto"></label>
        </div>
        <div class='col-3 mx-auto'>
          <input type="radio" id="icon-6" name="user-icon" value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-noIcon_bncurb.svg'>
          <label for="icon-6"><img src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-noIcon_bncurb.svg" alt="user icon option 6" width="75px" height="auto"></label>
        </div>
      </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class='btn btn-success logBtn'><span class="logBtnTxt fs-4">Register</span></button>
    </div>
  </form>
  </div> 
  <div class="BGImgBtm-reg"></div>
  <div class="BGImgTop-reg"></div>
</div>

<script>
  document.getElementById("icon-1").addEventListener("click", function() {
    document.getElementById('user-icon').value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt1_mk6d21.svg';
}, false);

  document.getElementById("icon-2").addEventListener("click", function() {
    document.getElementById('user-icon').value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt2_zbjyeq.svg';
}, false);

document.getElementById("icon-3").addEventListener("click", function() {
    document.getElementById('user-icon').value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt3_f9toiq.svg';
}, false);

document.getElementById("icon-4").addEventListener("click", function() {
    document.getElementById('user-icon').value='hhttps://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt4_giaxud.svg';
}, false);

document.getElementById("icon-5").addEventListener("click", function() {
    document.getElementById('user-icon').value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-opt5_ie6lkb.svg';
}, false);

document.getElementById("icon-6").addEventListener("click", function() {
    document.getElementById('user-icon').value='https://res.cloudinary.com/dg92t6syv/image/upload/v1626407138/YelpCamp/img-usericon-noIcon_bncurb.svg';
}, false);
</script>
